<div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="images/carousel-1.jpg" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Bootstrap carousel</h3>
                <p>Met controls, indicators en captions!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="images/carousel-2.jpg" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Achtergronden</h3>
                <p>Komen van de website: <a href="http://desktopography.net/" target="_blank">Desktopography.net</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="images/carousel-3.jpg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
                <h3>Eigen styling</h3>
                <p>Er zijn een aantal dingen aangepast met <a href="css/jemxstyling.css" target="_blank">jemxstyling.css</a>. <br>
                    Kijk goed naar de selectors om te zien welke elementen zijn aangepast.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>