<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{baseurl}}">ComputerShop</a>
    <button class="navbar-toggler main-menubutton" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mr-auto">
            {{#each menustructure}}
            <li class="nav-item {{#pageActive url}}{{/pageActive}}">
                {{#menulink}}{{/menulink}}

                {{#if subpages}}
                <div class="dropdown-menu" aria-labelledby="dropdown-{{url}}">
                    {{#each subpages}}
                    {{#menulink true}}{{/menulink}}
                    {{/each}}
                </div>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
    <button class="btn btn-primary user-menubutton" type="button" data-toggle="collapse" data-target="#usermenu" aria-controls="usermenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="usermenu">
        <ul class="navbar-nav ">
            {{#userLinks}}{{/userLinks}}
        </ul>
    </div>
</nav>