{{#each products}}
<div class="row product-detail mb-5 pb-4 border border-top-0 border-left-0 border-right-0 border-dark">
    <div class="col-xs-12 col-sm-12 col-md-6 mb-4 image-container">
        <img class="product-image border rounded p-2 w-100" src="/computershop/images/products/{{image}}" alt="{{title}}">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 content-container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <div class="pull-right product-price">
            <i class="fa fa-euro" aria-hidden="true"></i>
            {{#formatPrice price}}{{/formatPrice}}
        </div>
        <form name="add-product-{{id}}" data-id="{{id}}" class="add-product-form d-flex">
            <div class="form-group align-self-end m-0">
                <label for="amount">Aantal</label>
                <input type="number" id="amount" class="form-control" name="amount" value="1">
            </div>
            <button type="submit" class="btn btn-info align-self-end ml-2"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>
{{/each}}