<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 p-0 collapse-container">
    <div class="card">
        <div class="card-header collapse-trigger">
            <h4>Categorie&euml;n</h4>
        </div>
        <div class="collapse-content">
            <div class="card-body">
                <div class="list-group content-loader" id="categories-container">
                    {{#each categories}}
                    <a href="/computershop/shop/category/{{url}}/" class="list-group-item">{{title}}</a>
                    {{#each sub}}
                    <a href="/computershop/shop/category/{{url}}/" class="list-group-item list-group-item-secondary">{{title}}</a>
                    {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 content-loader" id="products-container">
    <div class="row d-flex">
        {{#each products}}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 align-self-end product my-4">
            <div class="card border-0">
                <a href="/computershop/shop/product/{{id}}/"><img class="card-img-top" src="/computershop/images/products/{{image}}" alt="{{title}}"></a>
                <div class="card-body border-info rounded-bottom my-2">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">
                        {{#shortDescription description}}{{/shortDescription}}<a href="/computershop/shop/product/{{id}}/">lees meer</a>
                    </p>
                    <div class="pull-left product-price">
                        <i class="fa fa-euro" aria-hidden="true"></i>
                        {{#formatPrice price}}{{/formatPrice}}
                    </div>
                    <button class="btn btn-info pull-right add-to-cart" data-productid="{{id}}" data-price="{{price}}"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>