@import 'vars';
@import 'mixins';

html, body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

body {
  padding-top: 80px;
  &:after {
    .transition;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
  }
  div#mainContent {
    display: block;
  }
  &.loading-content {
    &:after {
      content: '';
      background-image: url(../../images/loading.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgba(255, 255, 255, 1);
    }
    div#mainContent {
      display: none;
    }
  }
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

nav.navbar {
  padding-top: 1rem;
  button.user-menubutton {
    display: none;
  }
  div#usermenu {
    float: right;
    ul.navbar-nav {
      position: relative;
      p {
        position: absolute;
        top: -.5rem;
        font-size: .8rem;
        font-style: italic;
        color: #888;
      }
      li.nav-item {
        float: left;
        a {
          position: relative;
          padding-left: 1.5rem;
          div#cartAmount {
            .border-radius(50%);
            display: none;
            position: absolute;
            top: .3rem;
            right: 0;
            width: 15px;
            height: 15px;
            background-color: @col4;
            color: #fff;
            font-size: .6rem;
            text-align: center;
            &.active {
              display: block;
            }
          }
          i.fa{
            position: absolute;
            top: .8rem;
            left: .3rem;
            color: @col2;
            &.fa-power-off {
              color: @col5;
            }
            &.fa-pencil-square-o {
              color: @col4;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    button.main-menubutton {
      position: absolute;
      top: .5rem;
      right: 4.5rem;
    }

    button.user-menubutton {
      display: block;
      position: absolute;
      top: .5rem;
      right: 1.25rem;
    }
    div#usermenu {
      ul.navbar-nav {
        padding-top: 1.25rem;
        li.nav-item {
          a {
            padding-left: 2rem;
          }
        }
      }
    }
  }
}




div.not-found-message {
  text-align: center;
  h1 {
    color: @col5;
  }
}

.collapse-container {
  .collapse-trigger {
    @media screen and (max-width: 768px) {
      padding-right: ~'calc((1.25rem * 2) + 30px)';
      &:after {
        content: '';
        position: absolute;
        top: .75rem;
        right: 1.25rem;
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");

      }
    }
  }
  .collapse-content {
    .transition();
    height: auto;
    @media screen and (max-width: 768px) {
      height: 0;
      overflow: hidden;
    }
  }
}

.content-loader {
  position: relative;
  &:after {
    .transition;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: none;
    background-color: rgba(255, 255, 255, 0);
  }
  &.loading-content {
    &:after {
      content: '';
      background-image: url(../../images/content-loading.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-color: rgba(255, 255, 255, 1);
    }
    div#mainContent {
      display: none;
    }
  }
}

div.product {
  div.card {
    div.card-body {
      border: 1px solid;
      p.card-text {
        color: @col1;
      }

    }
  }
}

div.product-price {
  i,h2,sup {
    float: left;
    color: @col5;
  }
  i {
    margin: 16px 5px 0 0;
    font-size: 18px;
  }
  h2 {
    margin-right: 3px;
  }
  sup {
    top: 15px;
  }
}

div.product-detail{
  div.content-container {
    div.product-price {
      float: right;
      width: auto;
      i {
        margin-top: 18px;
        font-size: 24px;
      }
      h2 {
        font-size: 42px;
      }
      sup {
        top: 18px;
        font-size: 18px;
      }
    }
    form.add-product-form {
      float: right;
      clear: right;
      width: auto;
      div.form-group, button {
        float: left;
        width: 80px;
      }
    }
  }
}

div#shoppingcart {
  padding-top: 2rem;
  &.empty-cart {
    text-align: center;
    h1 {
      color: @col5;
    }
  }
}