.border-radius(@rad) {
  -webkit-border-radius: @rad;
  border-radius: @rad;
}

.box-shadow( @hor: 0, @ver: 0, @blur: 0, @dis: 0, @color: rgba( 0, 0, 0, 0.1 ) ) {
  -webkit-box-shadow: @hor @ver @blur @dis @color;
  box-shadow: @hor @ver @blur @dis @color;
}

.inset-box-shadow( @hor: 0, @ver: 0, @blur: 0, @dis: 0, @color: rgba( 0, 0, 0, 0.1 ) ) {
  -webkit-box-shadow: inset @hor @ver @blur @dis @color;
  box-shadow: inset @hor @ver @blur @dis @color;
}

.text-shadow( @hor: 0, @ver: 0, @blur: 0, @color: rgba( 0, 0, 0, 0.1 ) ) {
  text-shadow: @hor @ver @blur @color;
}

.multiple-columns(@col, @gap) {
  -moz-column-count: @col;
  -webkit-column-count: @col;
  column-count: @col;
  -moz-column-gap: @gap;
  -webkit-column-gap: @gap;
  column-gap: @gap;
}

.transition( @prop: all, @dur: 0.5s, @ease: ease ) {
  -webkit-transition: @prop @dur @ease;
  -moz-transition: @prop @dur @ease;
  -ms-transition: @prop @dur @ease;
  -o-transition: @prop @dur @ease;
  transition: @prop @dur @ease;
}

.scale(@val) {
  -moz-transform: scale(@val);
  -webkit-transform: scale(@val);
  -o-transform: scale(@val);
  -ms-transform: scale(@val);
  transform: scale(@val);
}

.rotate(@deg) {
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  transform: rotate(@deg);
}

.translateX(@val) {
  -moz-transform: translateX(@val);
  -webkit-transform: translateX(@val);
  -o-transform: translateX(@val);
  -ms-transform: translateX(@val);
  transform: translateX(@val);
}

.translateY(@val) {
  -moz-transform: translateY(@val);
  -webkit-transform: translateY(@val);
  -o-transform: translateY(@val);
  -ms-transform: translateY(@val);
  transform: translateY(@val);
}

.skewX(@deg) {
  -moz-transform: skewX(@deg);
  -webkit-transform: skewX(@deg);
  -o-transform: skewX(@deg);
  -ms-transform: skewX(@deg);
  transform: skewX(@deg);
}

.skewY(@deg) {
  -moz-transform: skewY(@deg);
  -webkit-transform: skewY(@deg);
  -o-transform: skewY(@deg);
  -ms-transform: skewY(@deg);
  transform: skewY(@deg);
}

.custom-transform(@val) {
  -moz-transform: @val;
  -webkit-transform: @val;
  -o-transform: @val;
  -ms-transform: @val;
  transform: @val;
}

.vertical-gradient( @col1: rgba( 0, 0, 0, 0 ), @col2: rgba( 0, 0, 0, 0 ) ) {
  background: @col1; /* Old browsers */
  background: -moz-linear-gradient(top, @col1 0%, @col2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, @col1 0%, @col2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, @col1 0%, @col2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@col1', endColorstr='@col2', GradientType=0); /* IE6-9 */
}

.horizontal-gradient( @col1: rgba( 0, 0, 0, 0 ), @col2: rgba( 0, 0, 0, 0 ) ) {
  background: @col1; /* Old browsers */
  background: -moz-linear-gradient(left, @col1 0%, @col2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, @col1 0%, @col2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, @col1 0%, @col2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@col1', endColorstr='@col2', GradientType=1); /* IE6-9 */
}

.custom-infinite-animation( @name, @dur, @del: 0s ) {
  -webkit-animation: @name @dur infinite @del;
  -moz-animation: @name @dur infinite @del;
  -o-animation: @name @dur infinite @del;
  animation: @name @dur infinite @del;
}

.nice-scrollbar-small( @col1, @col2 ) {
  &::-webkit-scrollbar-track {
    .inset-box-shadow( @blur: 6px );
    .border-radius(10px);
    background-color: @col1;
  }
  &::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    .border-radius(10px);
    background-color: @col2;
  }
}

.nice-scrollbar-normal( @col1, @col2 ) {
  &::-webkit-scrollbar-track {
    .inset-box-shadow( @blur: 6px );
    .border-radius(10px);
    background-color: @black2;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb {
    .border-radius(10px);
    background-color: @col2;
  }
}

.allcenter {
  .custom-transform(translateX(-50%) translateY(-50%));
  position: absolute;
  top: 50%;
  left: 50%;
}

.horcenter {
  .translateX(-50%);
  position: absolute;
  left: 50%;
}

.vercenter {
  .translateY(-50%);
  position: absolute;
  top: 50%;
}

.button-transition {
  .transition( @prop: all, @dur: 0.25s, @ease: cubic-bezier( 0.9, 0.46, 0.47, 0.87 ) );
}

.short-transition {
  .transition( @prop: all, @dur: 0.3s, @ease: ease );
}

.custom-animation( @name, @dur, @i ) {
  -webkit-animation: @name @dur @i;
  -moz-animation: @name @dur @i;
  -o-animation: @name @dur @i;
  animation: @name @dur @i;
}

.button-exit-animation {
  .custom-animation(BUTTON-EXIT-ANIMATION, .5s, 1);
}

.button-enter-animation {
  .custom-animation(BUTTON-ENTER-ANIMATION, .5s, 1);
}

.form-exit-animation {
  .custom-animation(FORM-EXIT-ANIMATION, .5s, 1);
}

.form-enter-animation {
  .custom-animation(FORM-ENTER-ANIMATION, .5s, 1);
}

.background-enter-animation {
  .custom-animation(BACKGROUND-ENTER-ANIMATION, .5s, 1);
}

.background-exit-animation {
  .custom-animation(BACKGROUND-EXIT-ANIMATION, .5s, 1);
}

@-webkit-keyframes BUTTON-EXIT-ANIMATION {
  0% {
    display: block;
    right: 10%;
    opacity: 1;
  }
  100% {
    display: none;
    right: 50%;
    opacity: 0;
  }
}

@-moz-keyframes BUTTON-EXIT-ANIMATION {
  0% {
    display: block;
    right: 10%;
    opacity: 1;
  }
  100% {
    display: none;
    right: 50%;
    opacity: 0;
  }
}

@-o-keyframes BUTTON-EXIT-ANIMATION {
  0% {
    display: block;
    right: 10%;
    opacity: 1;
  }
  100% {
    display: none;
    right: 50%;
    opacity: 0;
  }
}

@keyframes BUTTON-EXIT-ANIMATION {
  0% {
    display: block;
    right: 10%;
    opacity: 1;
  }
  100% {
    display: none;
    right: 50%;
    opacity: 0;
  }
}

@-webkit-keyframes BUTTON-ENTER-ANIMATION {
  0% {
    display: none;
    right: 50%;
    opacity: 0;
  }
  100% {
    display: block;
    right: 10%;
    opacity: 1;
  }
}

@-moz-keyframes BUTTON-ENTER-ANIMATION {
  0% {
    display: none;
    right: 50%;
    opacity: 0;
  }
  100% {
    display: block;
    right: 10%;
    opacity: 1;
  }
}

@-o-keyframes BUTTON-ENTER-ANIMATION {
  0% {
    display: none;
    right: 50%;
    opacity: 0;
  }
  100% {
    display: block;
    right: 10%;
    opacity: 1;
  }
}

@keyframes BUTTON-ENTER-ANIMATION {
  0% {
    display: none;
    right: 50%;
    opacity: 0;
  }
  100% {
    display: block;
    right: 10%;
    opacity: 1;
  }
}

@-webkit-keyframes FORM-EXIT-ANIMATION {
  0% {
    display: block;
    right: 0;
    opacity: 1;
  }
  100% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
}

@-moz-keyframes FORM-EXIT-ANIMATION {
  0% {
    display: block;
    right: 0;
    opacity: 1;
  }
  100% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
}

@-o-keyframes FORM-EXIT-ANIMATION {
  0% {
    display: block;
    right: 0;
    opacity: 1;
  }
  100% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
}

@keyframes FORM-EXIT-ANIMATION {
  0% {
    display: block;
    right: 0;
    opacity: 1;
  }
  100% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
}

@-webkit-keyframes FORM-ENTER-ANIMATION {
  0% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
  100% {
    display: block;
    right: 0;
    opacity: 1;
  }
}

@-moz-keyframes FORM-ENTER-ANIMATION {
  0% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
  100% {
    display: block;
    right: 0;
    opacity: 1;
  }
}

@-o-keyframes FORM-ENTER-ANIMATION {
  0% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
  100% {
    display: block;
    right: 0;
    opacity: 1;
  }
}

@keyframes FORM-ENTER-ANIMATION {
  0% {
    display: none;
    right: -30vw;
    opacity: 0;
  }
  100% {
    display: block;
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes BACKGROUND-ENTER-ANIMATION {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@-moz-keyframes BACKGROUND-ENTER-ANIMATION {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@-o-keyframes BACKGROUND-ENTER-ANIMATION {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes BACKGROUND-ENTER-ANIMATION {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.4;
  }
}

@-webkit-keyframes BACKGROUND-EXIT-ANIMATION {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes BACKGROUND-EXIT-ANIMATION {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes BACKGROUND-EXIT-ANIMATION {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes BACKGROUND-EXIT-ANIMATION {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}