<!DOCTYPE html>
<html lang="en">
<head id="tophead">

    <title>Computershop | {{pageName}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/computershop/lib/css/bootstrap.min.css">

    <link rel="stylesheet" href="/computershop/lib/css/main.css">
    <!-- Styling by: Jesse Malotaux | JEMX - MBO Utrecht <jemx@mboutrecht.nl> -->
    <link rel="stylesheet" href="/computershop/lib/css/jemxstyling.css">
</head>
<body class="loading-content">

<div id="mainContent">

    {{main_menu}}

    {{pageContent}}

</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="/computershop/lib/js/inc/handlebars-v4.0.10.js"></script>
<script src="/computershop/lib/js/inc/jquery-3.2.1.min.js"></script>
<script src="/computershop/lib/js/inc/popper.min.js"></script>
<script src="/computershop/lib/js/inc/bootstrap.min.js"></script>
<script src="/computershop/lib/js/inc/js.cookie.js"></script>
<script src="/computershop/lib/js/helpers.js"></script>
<script src="/computershop/lib/js/script.js" id="mainscript"></script>
<link rel="stylesheet" href="/computershop/lib/css/font-awesome.min.css">
</body>
</html>