/*
 *
 *
 * Author: Jesse Malotaux | JEMX - MBO Utrecht <jemx@mboutrecht.nl>
 * Title: JEMX Styling
 * Description: Custom styling for the bootstrap assignment, period 1 - Webdevelopment. 
 *
 *
 */

/* --- Navbar styling --- */

nav.navbar.navbar-dark {
	background-color: #303030;
	border-bottom: 1px solid #555;
	-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);
	box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);
}

ul.navbar-nav li {
	position: relative;
}

ul.navbar-nav li a.dropdown-toggle {
	cursor: pointer;
}

/* --- Carousel styling --- */
div#mainCarousel.carousel {
	min-height: 30vw;
	height: 100%;
	max-height: 70vh;
}

div#mainCarousel.carousel div.carousel-inner {
	height: 100%;
}

div#mainCarousel.carousel div.carousel-inner div.carousel-item {
	width: 100%;
	height: 100%;
}

div#mainCarousel.carousel div.carousel-inner div.carousel-item img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

div#mainCarousel.carousel div.carousel-inner div.carousel-item div.carousel-caption {
	background-color: rgba(0,0,0,.5);
}

div#mainCarousel.carousel div.carousel-inner div.carousel-item div.carousel-caption a {
	color: #f80;
}

@media screen and (max-width: 992px) {
	div#mainCarousel.carousel div.carousel-inner div.carousel-item img {
		min-width: 100%;
		width: auto !important;
		height: 100%;
	}
}

/* --- Main styling --- */

main {
	margin: 3rem 0;
}

main article {
	margin-top: 3rem;
}