<main>

    <!-- Container -->
    <div class="container">

        <div class="row">

            <!-- 12/4 = 3, Deze kolom beslaat een derde van de container. -->
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/card-1.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Oud voorbeeld van een bootstrap carousel.</p>
                    </div>
                </div>
            </div>

            <!-- Hieronder wordt popper.js toegepast met attributen -->
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/card-2.jpeg" data-toggle="popover" title="Popper titel!" data-content="Dit is een popover gemaakt met popper.js" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Klik op het plaatje!</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/card-3.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Wat voor scripttaal is dit?</p>
                    </div>
                </div>
            </div>

        </div>

        <article id="main-container">
            {{#each this}}
            <div class="card col-12 p-0 mb-4">
                <div class="card-header">
                    <h3 class="card-title">{{content-title}}</h3>
                </div>
                <div class="card-body">
                    {{content}}
                </div>
            </div>
            {{/each}}
        </article>

    </div>
</main>