<div class="container">
    <div class="row justify-content-center">
        <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-4 p-0 login-container">
            <div class="card-header">
                <h4>Login</h4>
            </div>
            <div class="card-body">
                <form name="login-form" id="login-form">
                    <div class="alert alert-danger hidden" role="alert">
                        Er is iets fout gegaan, probeer het opnieuw!
                    </div>
                    <div class="form-group">
                        <label for="username">Gebruikersnaam</label>
                        <input type="text" class="form-control" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Wachtwoord</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>