<div class="container p-5">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 alert alert-info" id="logout-message" role="alert">
            Bezig met uitloggen...
        </div>
    </div>
</div>