<div class="container">
    <div class="card w-100 pull-left register-container">
        <div class="card-header">
            <h4>Register</h4>
        </div>
        <div class="card-body">
            <form name="register-form" id="register-form" method="post" class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group w-100 pull-left">
                        <label for="username">Gebruikersnaam</label>
                        <input type="text" class="form-control" id="username" required>
                        <div class="invalid-feedback">
                            Gebruikersnaam is al in gebruik.
                        </div>
                    </div>
                    <div class="form-group w-100 pull-left">
                        <label for="password">Wachtwoord</label>
                        <input type="password" class="form-control" id="password" required>
                    </div>

                    <div class="form-group w-100 pull-left">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" required>
                        <div class="invalid-feedback">
                            E-mail is al in gebruik.
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group w-50 pr-2 pull-left">
                        <label for="firstname">Voornaam</label>
                        <input type="text" class="form-control" id="firstname" required>
                    </div>
                    <div class="form-group w-50 pl-2 pull-left">
                        <label for="lastname">Achternaam</label>
                        <input type="text" class="form-control" id="lastname" required>
                    </div>
                    <div class="form-group w-75 pr-2 pull-left">
                        <label for="street">Straat</label>
                        <input type="text" class="form-control" id="street" required>
                    </div>
                    <div class="form-group w-25 pl-2 pull-left">
                        <label for="housenumber">Huisnummer</label>
                        <input type="text" class="form-control" id="housenumber" required>
                    </div>
                    <div class="form-group w-25 pr-2 pull-left">
                        <label for="postal">Postcode</label>
                        <input type="text" class="form-control" id="postal" required>
                    </div>
                    <div class="form-group w-75 pl-2 pull-left">
                        <label for="city">Stad</label>
                        <input type="text" class="form-control" id="city" required>
                    </div>
                </div>
                <div class="col-auto ml-auto">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>