<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped" id="shoppingcart">
                <thead class="thead-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Product</th>
                    <th scope="col">Aantal</th>
                    <th scope="col">Totaal</th>
                </tr>
                </thead>
                <tbody id="cart-body">

                </tbody>
            </table>

        </div>
    </div>
</div>