<div class="container p-0">
    <div class="row m-0">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 p-0 collapse-container">
            <div class="card">
                <div class="card-header collapse-trigger">
                    <h4>Categorie&euml;n</h4>
                </div>
                <div class="collapse-content">
                    <div class="card-body">
                        <div class="list-group">
                            {{#each categories}}
                            <a href="#" class="list-group-item">test</a>
                            {{/each}}
                            <!--<a href="#" class="list-group-item active">-->
                            <!--Cras justo odio-->
                            <!--</a>-->
                            <!--<a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>-->
                            <!--<a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>-->
                            <!--<a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>-->
                            <!--<a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <div class="row d-flex">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 align-self-end product my-4">
                    <div class="card border-0">
                        <a href="#"><img class="card-img-top" src="images/products/computer-beugel.jpg" alt="Computer beugel"></a>
                        <div class="card-body border-info rounded-bottom my-2">
                            <h5 class="card-title">Computer beugel</h5>
                            <p class="card-text">
                                Met deze beugel kunt u uw PC... <a href="#">lees meer</a>
                            </p>
                            <div class="pull-left product-price"><i class="fa fa-euro" aria-hidden="true"></i> <h2>39</h2><sup>,49</sup></div>
                            <button class="btn btn-info pull-right"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 align-self-end product my-4">
                    <div class="card border-0">
                        <img class="card-img-top" src="images/products/toetsenbord1.jpg" alt="Card image cap">
                        <div class="card-body border-info rounded-bottom my-2">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 align-self-end product my-4">
                    <div class="card border-0">
                        <img class="card-img-top" src="images/products/toetsenbord2.jpg" alt="Card image cap">
                        <div class="card-body border-info rounded-bottom my-2">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 align-self-end product my-4">
                    <div class="card border-0">
                        <img class="card-img-top" src="images/products/computer-beugel.jpg" alt="Card image cap">
                        <div class="card-body border-info rounded-bottom my-2">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 align-self-end product my-4">
                    <div class="card border-0">
                        <img class="card-img-top" src="images/products/toetsenbord1.jpg" alt="Card image cap">
                        <div class="card-body border-info rounded-bottom my-2">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 align-self-end product my-4">
                    <div class="card border-0">
                        <img class="card-img-top" src="images/products/toetsenbord2.jpg" alt="Card image cap">
                        <div class="card-body border-info rounded-bottom my-2">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>